<div class="summary">
	<h3 class="chart-title">Réservations en cours</h3>
	<table>
		<thead>
			<tr>
				<th>Numéro catway</th>
				<th>Client</th>
				<th>Bateau</th>
				<th>Date de début</th>
				<th>Date de fin</th>
			</tr>
		</thead>
		<tbody>
			<% if (bookings.length === 0) { %>
			<tr>
				<td colspan="5">Aucune réservation en cours</td>
			</tr>
			<% } else { %> <% bookings.forEach(booking => { %>
			<tr onclick="window.location.href='/catways/<%= encodeURIComponent(booking.catwayId) %>/reservations/<%= encodeURIComponent(booking._id) %>'">
				<td><%= booking.catwayNumber %></td>
				<td><%= booking.clientName %></td>
				<td><%= booking.boatName %></td>
				<td><%= booking.startDate.toLocaleDateString() %></td>
				<td><%= booking.endDate.toLocaleDateString() %></td>
			</tr>
			<% }) %> <% } %>
		</tbody>
	</table>
</div>
