<div class="summary">
	<h3 id="chart-title">Réservations</h3>
	<div class="wrapper">
		<table>
			<thead>
				<tr>
					<th>Numéro catway</th>
					<th>Client</th>
					<th>Bateau</th>
					<th>Date de début</th>
					<th>Date de fin</th>
				</tr>
			</thead>
			<tbody>
				<% reservations.forEach(reservation => { %>
				<tr>
					<td><%= reservation.catwayNumber %></td>
					<td><%= reservation.clientName %></td>
					<td><%= reservation.boatName %></td>
					<td><%= reservation.startDate.toLocaleDateString() %></td>
					<td><%= reservation.endDate.toLocaleDateString() %></td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>
