<!DOCTYPE html>
<html lang="fr">
	<%- include('../partials/head') %>
	<body>
		<main>
			<div class="dashboard">
				<div class="navigation">
					<a href="/dashboard" class="link"
						><h2 class="dashboard-title">Tableau de bord</h2></a
					>
					<div class="profile">
						<img
							class="profile-pic"
							src="/images/utilisateur.png"
							alt="Photo de profil de <%= user.firstname %>"
						/>
						<h3>Bienvenue <%= user.firstname %> <%= user.name %></h3>
						<p>Adresse mail : <%= user.email %></p>
						<a href="/users/<%= encodeURIComponent(user.email) %>" class="link"
							><button type="button" class="small-button">Profil</button></a
						>
					</div>
					<nav>
						<ul>
							<li><a href="/catways" class="link">Catways</a></li>
							<li><a href="/users" class="link">Utilisateurs</a></li>
							<li>
								<a
									href="http://localhost:8000/api-docs"
									target="_blank"
									class="link"
									>Documentation API</a
								>
							</li>
						</ul>
					</nav>
					<a href="/users/logout" class="link"
						><button type="button" class="blue-button">Déconnexion</button></a
					>
				</div>
				<div class="overview">
					<div class="data">
						<p>Aujourd'hui, nous sommes le : <%= date %></p>
						<div class="data-infos">
						<h5>Météo =</h5>
						<% if (weather) { %>
							<p><em>Température :</em> <%= weather.temperature %> °C</p>
							<p>-</p>
							<p><em>Description :</em> <%= weather.description %></p>
							<% } else { %>
								<p>Météo indisponible</p>
								<% } %>
						</div>
						<div class="data-infos">
							<h5>Marée actuelle =</h5>
						<% if (currentTide) { %>
							<p>
								<em>Heure :</em> <%= new Date(currentTide.dt * 1000).toLocaleTimeString() %>
							</p>
							<p>-</p>
							<p>
    							<em>Hauteur :</em> <%= currentTide.height.toFixed(2) %> m
  							</p>
							<% } else { %>
  								<p>Aucune marée disponible pour l'heure actuelle.</p>
							<% } %>
						</div>
					</div>
					<div class="main-content">
						<%- include(`../dashboard/${content}`) %>
					</div>
				</div>
			</div>
		</main>
		<%- include('../partials/footer') %>
	</body>
</html>
